.btn-info {
	background-color: purple;
}

.btn-info:hover {
	background-color: #73f;
}

.btn-info:focus:active {
	background-color: #73a;
}


/*background classes
========================*/
.sky {
	background-image: url('../images/desk.jpeg');
	/*background-position: center;
	background-size: cover;*/
}